<!-- Send Email -->
@if(steps==1){ 
<section class="register-page d-flex justify-content-center align-items-center">
<div class="register-card  rounded-4 p-4 bg-white">
    <h3 class="mb-4 fw-bold text-center text-success">Forgot Password</h3>
    <div>
        <p class="text-center text-danger">{{ errmassge }}</p>
    </div>
    <form [formGroup]="sendEmailForm" (ngSubmit)="submitEmail()" class="register-form"> 
    <div class="form-group mb-3">
        <label for="email" class="form-label">Email</label>
        <div class="input-group">
        <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email">
        </div>
        @if(this.sendEmailForm.get('email')?.errors && this.sendEmailForm.get('email')?.touched) {
            <div class="text-danger">
                <small *ngIf="sendEmailForm.get('email')?.errors?.['required']">Email is required.</small>
                <small *ngIf="sendEmailForm.get('email')?.errors?.['email']">Please enter a valid email address.</small>
            </div>
        }
    </div> 
        <button type="submit" class="btn btn-success  text-white w-100" [disabled]="Isloading">
            <span *ngIf="Isloading">
                <i class="fa-solid fa-spinner fa-spin"></i> Loading...
            </span>
            <span *ngIf="!Isloading">
                Send Email
            </span>
        </button>
        <a routerLink="/auth/login" class="btn btn-link text-success">Back to Login</a>
</form>
</div>
</section>
}
@if(steps==2){
<!-- Verify Code -->
 <section class="register-page d-flex justify-content-center align-items-center">
<div class="register-card  rounded-4 p-4 bg-white">
    <h3 class="mb-4 fw-bold text-center text-success">Forgot Password</h3>

    <form [formGroup]="verifyCodeForm" (ngSubmit)="submitCode()" class="register-form"> 
    <div class="form-group mb-3">
        <label for="email" class="form-label">Code</label>
        <div class="input-group">
        <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
        <input type="text" id="resetCode" formControlName="resetCode" class="form-control" placeholder="Enter your code">
        </div>
        @if(this.verifyCodeForm.get('resetCode')?.errors && this.verifyCodeForm.get('resetCode')?.touched) {
            <div class="text-danger">
                <small *ngIf="verifyCodeForm.get('resetCode')?.errors?.['required']">Code is required.</small>
                <small *ngIf="verifyCodeForm.get('resetCode')?.errors?.['email']">Please enter a valid code.</small>
            </div>
        }
    </div> 
    <button type="submit" class="btn btn-success w-100 py-3 text-white" [disabled]="Isloading">
        <span *ngIf="Isloading">
            <i class="fa-solid fa-spinner fa-spin"></i> Loading...
        </span>
        <span *ngIf="!Isloading">
            Send Code
        </span>
    </button>

</form>
</div>
</section>
}
<!-- Reset Password -->
@if(steps==3){
    <section class="register-page d-flex justify-content-center align-items-center">
        <div class="register-card  rounded-4 p-4 bg-white">
        <h3 class="mb-4 fw-bold text-center text-success">Forgot Password</h3>

    <form [formGroup]="ResetPasswordForm" (ngSubmit)="submitPasswordReset()" class="register-form"> 
    <div class="form-group mb-3">
        <label for="email" class="form-label">Email</label>
        <div class="input-group">
        <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email">
        </div>
        @if(this.ResetPasswordForm.get('email')?.errors && this.ResetPasswordForm.get('email')?.touched) {
            <div class="text-danger">
                <small *ngIf="ResetPasswordForm.get('email')?.errors?.['required']">Email is required.</small>
                <small *ngIf="ResetPasswordForm.get('email')?.errors?.['email']">Please enter a valid email address.</small>
            </div>
        }
        <label for="newPassword" class="form-label">Password</label>
        <div class="input-group">
        <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
        <input type="password" id="newPassword" formControlName="newPassword" class="form-control" placeholder="Enter New password">
        </div>
        @if(this.ResetPasswordForm.get('newPassword')?.errors && this.ResetPasswordForm.get('newPassword')?.touched) {
            <div class="text-danger">
                <small *ngIf="ResetPasswordForm.get('newPassword')?.errors?.['required']">Password is required.</small>
                <small *ngIf="ResetPasswordForm.get('newPassword')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
            </div>
        }
    </div> 
        <button type="submit" class="btn btn-success w-100 py-3 text-white" [disabled]="Isloading">
            <span *ngIf="Isloading">
                <i class="fa-solid fa-spinner fa-spin"></i> Loading...
            </span>
            <span *ngIf="!Isloading">
                Reset Password
            </span>
        </button>

</form>
</div>
</section>
}




