<nav class="navbar navbar-expand-sm bg-body-tertiary shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/home">
      <img src="assets/images/freshcart-logo.svg" alt="Logo" width="100" height="30" class="me-2">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                <a class="nav-link text-dark fw-semibold" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-dark fw-semibold" routerLink="/products" routerLinkActive="active">Products</a>
                </li>
                @if (isLogin) {
                <li class="nav-item">
                  <a class="nav-link text-dark fw-semibold position-relative" 
                    routerLink="/cart" 
                    routerLinkActive="active">
                    
                    <i class="fa-solid fa-cart-shopping fa-lg"></i>
                     
                    <span *ngIf="cartNumber > 0" 
                          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      {{ cartNumber }}
                    </span>
                  </a>
                </li>

                }
                <li class="nav-item">
                <a class="nav-link text-dark fw-semibold" routerLink="/brand" routerLinkActive="active">Brands</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-dark fw-semibold" routerLink="/category" routerLinkActive="active">Categories</a>
                </li>
            </ul>
        

        @if(isLogin) 
        {
        <ul class="navbar-nav mb-2 mb-sm-0 d-flex align-items-center gap-1">
            <li class="nav-item"><a class="nav-link" ><i class="fa-brands fa-facebook-f"></i></a></li>
            <li class="nav-item"><a class="nav-link" ><i class="fa-brands fa-twitter"></i></a></li>
            <li class="nav-item"><a class="nav-link" ><i class="fa-brands fa-instagram"></i></a></li>
            <li class="nav-item"><a class="nav-link" ><i class="fa-brands fa-linkedin-in"></i></a></li>
            <li>
                <a role="button" class="nav-link text-dark" (click)="logOut()">LogOut</a> 
            </li> 
        </ul>
        }
        @else {
    <ul class="navbar-nav ms-auto mb-2 mb-sm-0 d-flex align-items-center gap-2">
        <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/auth/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/auth/register" routerLinkActive="active">Register</a>
        </li>
    </ul>
    } 
    

    </div>
  </div>
</nav>